.notify-checkbox .row {
  margin-left: auto;
}
.notify-checkbox .row div {
  column-count: 3;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  orphans: 1;
  widows: 1;
  margin-bottom: 10px;
  width: -webkit-fill-available;
}

.notify-checkbox .row .form-inline {
  flex-flow: unset !important;
}
