/**
 * All GTAS code is Copyright 2016, The Department of Homeland Security (DHS), U.S. Customs and Border Protection (CBP).
 * 
 * Please see license.txt for details.
 */

.cdb-row {
  margin: unset !important;
  white-space: nowrap;
  border-radius: 0.5rem;
  padding: 2px 4px;
  display: inline-block;
  flex-wrap: nowrap !important;
}

.bordered {
  border: 1px solid #b6b6b6;
}

.cdb-red {
  background-color: #e83944;
  color: white;
  font-weight: 500;
}

.cdb-orange {
  background-color: #ffc107;
  color: black;
}

.cdb-yellow {
  background-color: #ffeb3b;
  color: black;
}

.cdb-green {
  background-color: #a7ff6d;
  color: black;
}

.cdb-gray {
  background-color: #4c4c4c;
  color: white !important;
}

.cdb-white {
  background-color: white;
  color: black;
}

.cdb-days-div {
  margin-right: 6px;
}

.badge {
  font-size: 100% !important;
  font-weight: 400 !important;
  line-height: 2;
}

.badge-full {
  width: 100% !important;
  font-weight: 600;
  padding: 0.25em 4px;
  line-height: 2 !important;
  background-size: 30px 30px !important;
  background-repeat: no-repeat !important;
  background-position-x: center !important;
}

.badge-inline {
  font-size: 0.8rem !important;
  font-weight: 600;
  width: unset !important;
}

.big-badge {
  font-size: 16px !important;
}

.filter .cdb-row {
  display: inline-block;
}
