.cdb-row {
  margin: unset !important;
  min-width: 110px;
  text-align-last: center;
  white-space: nowrap;
}

.cdb-days {
  background: url("../../images/day.svg");
}

.cdb-hours {
  background: url("../../images/hour.svg");
}

.cdb-minutes {
  background: url("../../images/minute.svg");
}

.cdb-red {
  background-color: #ffa5a5;
}

.cdb-orange {
  background-color: #ffc107;
}

.cdb-yellow {
  background-color: #ffeb3b;
}

.cdb-green {
  background-color: #a7ff6d;
}

.cdb-blue {
  /* background-color: #6deeff; */
}

.cdb-violet {
  /* background-color: #c8c5ff; */
}

.icon-div {
  flex-grow: 1 !important;
  width: 30px;
  text-align: -webkit-center;
  /* color: black; */
  /* margin-top: -2px !important;
  margin-bottom: -4px !important;
  height: 33px; */
}

.badge {
  font-size: 100% !important;
  font-weight: 400 !important;
  line-height: 2;
}

.badge-full {
  width: 100% !important;
  font-weight: 600;
  padding: 0.25em 4px;
  line-height: 2 !important;
  background-size: 30px 30px !important;
  background-repeat: no-repeat !important;
  background-position-x: center !important;
}

.badge-inline {
  font-size: 0.8rem !important;
  font-weight: 600;
  width: unset !important;
}

.big-badge {
  font-size: 16px !important;
}
