.cdb-row {
  margin: unset !important;
  white-space: nowrap;
  border-radius: 5px;
  padding-left: 4px;
  float: right;
  display: block;
  flex-wrap: nowrap !important;
}

.bordered {
  border: 1px solid #b6b6b6;
}

.cdb-red {
  background-color: #e83944;
  color: white;
  font-weight: 500;
}

.cdb-orange {
  background-color: #ffc107;
}

.cdb-yellow {
  background-color: #ffeb3b;
}

.cdb-green {
  background-color: #a7ff6d;
}

.cdb-gray {
  background-color: #4c4c4c;
  color: white !important;
}

.cdb-white {
  background-color: white;
  color: black;
}

.cdb-blue {
  /* background-color: #6deeff; */
}

.cdb-violet {
  /* background-color: #c8c5ff; */
}

.cdb-days-div {
  margin-right: 6px;
}

.icon-div {
  /* flex-grow: 1 !important; */
  /* min-width: 25px;
  text-align: -webkit-center; */
  /* color: black; */
  /* margin-top: -2px !important;
  margin-bottom: -4px !important;
  height: 33px; */
}

.badge {
  font-size: 100% !important;
  font-weight: 400 !important;
  line-height: 2;
}

.badge-full {
  width: 100% !important;
  font-weight: 600;
  padding: 0.25em 4px;
  line-height: 2 !important;
  background-size: 30px 30px !important;
  background-repeat: no-repeat !important;
  background-position-x: center !important;
}

.badge-inline {
  font-size: 0.8rem !important;
  font-weight: 600;
  width: unset !important;
}

.big-badge {
  font-size: 16px !important;
}
