@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.manage-users-side-nav .filter-bg {
  z-index: 5;
  background: linear-gradient(
    rgba(214, 215, 218, 0.83) 10%,
    rgba(223, 225, 231, 0.83),
    rgba(255, 255, 255, 0)
  );
  // url($background-image-url) no-repeat;
  // background-position: center center;
  // background-size: cover;
}

//TODO:  decide how we should use the filter nav on small devices and add styling
@include media-breakpoint-down(md) {
  .manage-users-side-nav {
    display: none;
  }
}

.um-checkbox > div > .row > div {
  column-count: 3;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  orphans: 1;
  widows: 1;
  margin-bottom: 10px;
  width: -webkit-fill-available;
}

.um-checkbox > div > .row > div > .form-inline {
  flex-flow: unset !important;
}

.max-600-width-container .modal-dialog {
  max-width: 600px;
}
