.label {
  padding-left: 5px;
  margin: 0 0.25rem !important;
  width: 100% !important;
}

.inline {
  padding-left: 5px;
  margin: 0 0.25rem !important;
  float: right;
}

.big-name-sidebar {
  background-color: #ffffac;
  color: #303030;
  text-align: center;
  font-weight: 501;
  padding: 0px 5px 0px 5px;
  border-radius: 3px;
  border: 1px solid #e1e29a;
  margin: 0rem 0rem 0.25rem 0rem !important;
  font-size: 1.3rem;
}
