.hits-table {
  justify-content: space-between;
  display: flex;
  align-items: baseline;
  margin-left: 5px;
  margin-right: 5px;
}

.hits-cell {
  width: 33%;
  text-align: center;
}

.hits-flag {
  margin-right: 3px;
}

.hits-flag.high {
  color: red;
}

.hits-flag.med {
  color: orange;
}

.hits-flag.low {
  color: #e2d402;
}
