.labelled-input {
  padding-bottom: 10px;
  padding-top: 10px;
}

.space-between {
  margin-bottom: 0.3rem;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  /* font-size: 14px; */
}

.space-between > label {
  width: unset !important;
  text-align: right;
  white-space: nowrap;
  /* min-width: 90px; */
  min-width: 30%;
  margin-right: 10px;
}
