.files input {
  // outline: 2px dashed #92b0b3;
  // outline-offset: -10px;
  // -webkit-transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  // transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  // padding: 120px 0px 85px 35%;
  // text-align: center !important;
  // margin: 0;
  // width: 100% !important;
  width: 100% !important;
  opacity: 0;
  white-space: normal;
  height: 150px;
  background-color: yellow;
}
.files input:focus {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  border: 1px solid #92b0b3;
}
.files {
  position: relative;
  border: 2px dashed #009e92;
  border-radius: 0.25rem;
}

.files::before {
  content: "\f0ab";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 120px;
  color: #e3f7f6;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  line-height: 1;
  position: absolute;
}

.files:hover {
  background-color: #e3f7f6;
}
.color input {
  background-color: #f1f1f1;
}

.upload input[type="file"] {
  text-indent: -999em;
  outline: none;
  width: 100%;
  height: 100%;
  position: absolute;
}

.attachment-data {
  position: absolute;
  top: 45px;
  left: 30px;
  width: calc(100% - 60px);
}

.attachment-data > div {
  white-space: nowrap !important;
  overflow: hidden;
}

.attachment-size {
  margin-left: 10px;
}

.attachment-form-container {
  margin-top: 20px;
}

.attachment-form-container > div {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
