.password-constraint-container {
  color: black;
  border-radius: 0.25rem;
  background-color: white;
  border: 1px solid #cdcdd1;
  padding: 5px;
}

li > .pass-constraint-x {
  color: red !important;
}

li > .pass-constraint-check {
  color: green;
}
