@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$background-image-url: "../../images/WCO_flag.svg";
$wco-blue: rgb(0, 119, 200);
$transparent: rgba(0, 0, 0, 0.65);

.paxdetails-side-nav .filter-bg {
  background: linear-gradient($wco-blue, rgba(0, 119, 200, 0.75)),
    url($background-image-url) no-repeat, no-repeat;
  background-position: center center;
  background-size: cover;
}

.paxdetail-container {
  height: calc(100vh - 125px);
  overflow: auto;

  // -- for single page repositioning
  position: absolute;
  left: 20px;
  padding-right: 40px;
  width: 100%;
}

@media (max-width: 1499px) {
  .paxdetail-container {
    .card-columns {
      column-count: 1 !important;
    }
  }
}

@media (min-width: 1500px) {
  .paxdetail-container {
    .card-columns {
      column-count: 2 !important;
    }
  }
}

.paxdetails-action-buttons {
  button {
    margin: 1px;
  }
}

.one-column-container {
  height: calc(100vh - 135px);
  width: calc(100vw - 290px);
  overflow-y: auto;

  // -- for single page repositioning
  left: 20px;
  position: absolute;
  // -- end

  .card-columns {
    column-count: 1 !important;
  }
}

.one-column-grid-container {
  height: calc(100vh - 126px);
  width: calc(100vw - 290px);
  position: absolute;
  top: 46px;
  overflow-y: auto;

  // -- for single page repositioning
  left: 20px;
  // -- end

  .table-main {
    height: calc(100vh - 180px);
  }
  .tagrightpag {
    bottom: 15px;
  }
}
.right-span > .dropdown > .dropdown-menu {
  display: inline-grid;
}

.paxdetail-container > .title > .left-span > .gtas-tabs > a {
  padding: 0.5rem 0.5rem;
}

.segment-table {
  height: calc(100vh - 128px);
}
