// All GTAS code is Copyright 2016, The Department of Homeland Security (DHS), U.S. Customs and Border Protection (CBP).
//
// Please see license.txt for details.

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$background-image-url: "../../images/WCO_flag.svg";
$wco-blue: rgb(0, 119, 200);
$transparent: rgba(0, 0, 0, 0.65);

.paxdetail-container {
  width: calc(100vw - 290px);
  height: calc(100vh - 110px);
  overflow: auto;
  position: absolute;
  top: 50px;
  left: 20px;
  padding-right: 20px;

  .row {
    margin-right: unset;
    margin-left: unset;
  }
}

.paxdetail-container-col {
  /* width: 100%; */
  height: calc(100vh - 110px);
  padding-right: 10px;
  margin-right: -10px;
  overflow-y: auto;
}

@media (max-width: 767px) {
  // .paxdetail-container {
  //   height: calc(100vh - 150px) !important;
  //   width: calc(100vw - 70px) !important;
  //   padding-right: 10px;
  //   top: 90px;
  // }
  .paxdetail-container-col {
    width: unset !important;
    max-width: unset !important;
    padding-right: 10px;
    margin-right: -10px;
    margin-left: 0px;
    padding-left: 0px;
    height: calc(100vh - 150px) !important;
  }

  .one-column-grid-container,
  .paxdetail-container,
  // .paxdetail-container-col,
  .one-column-container {
    height: calc(100vh - 150px) !important;
    width: calc(100vw - 65px) !important;
    top: 140px !important;
    position: fixed !important;
    left: 50px !important;
    padding-right: 10px !important;
  }
}

@media (max-width: 1024px) {
  .large-media-only {
    display: none;
  }
}

@media (max-width: 1499px) {
  .paxdetail-container {
    .card-columns {
      column-count: 1 !important;

      .pd-gridstack-2 {
        max-height: unset !important;

        .table-responsive {
          max-height: calc((100vh - 190px) / 2) !important;
        }
      }
    }
  }
}

@media (min-width: 1500px) {
  .paxdetail-container {
    .card-columns {
      column-count: 2 !important;

      .pd-gridstack-2 {
        max-height: unset !important;

        .table-responsive {
          max-height: calc(100vh - 145px) !important;
        }
      }
    }
  }
}

.paxdetails-action-buttons {
  button {
    margin: 1px;
  }
}

.one-column-container {
  // height: calc(100vh - 135px);
  // width: calc(100vw - 290px);
  // overflow-y: auto;
  // position: absolute;
  // top: 50px;
  // left: 20px;

  width: calc(100vw - 290px);
  height: calc(100vh - 110px);
  overflow: auto;
  position: absolute;
  top: 50px;
  left: 20px;
  padding-right: 20px;

  .card-columns {
    column-count: 1 !important;
  }
}

.one-column-grid-container {
  height: calc(100vh - 111px);
  width: calc(100vw - 300px);
  overflow: hidden;
  position: absolute;
  top: 50px;
  left: 20px;

  .pagination {
    width: calc(100vw - 301px);
  }
}

.right-span > .dropdown > .dropdown-menu {
  display: inline-grid;
}

.paxdetail-container > .title > .left-span > .gtas-tabs > a {
  padding: 0.5rem 0.5rem;
}

.filter-fg > .col > .table {
  font-size: larger;
  width: 225px;
  margin-bottom: 1rem;
  color: #212529;
  overflow-x: hidden;
  overflow-wrap: anywhere;
}

.grid-single-col {
  grid-auto-rows: minmax(100px, auto);
  height: calc(100vh - 110px);
  overflow-y: hidden;
  padding-bottom: 0px;
  display: grid;
  max-height: calc(100vh - 110px);
}

.grid-single-col .card-with-table,
.grid-single-col .table-responsive {
  max-height: unset;
}

.paxdetail .tab-span {
  padding-top: 2px;
}
