// All GTAS code is Copyright 2016, The Department of Homeland Security (DHS), U.S. Customs and Border Protection (CBP).
//
// Please see license.txt for details.

@import "../../index.scss";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$wco-blue: #0082c3;
$wco-blue-dark: darken($wco-blue, 20%);
$wco-gray: rgb(141, 144, 147);
$wco-gray-dark: #575756;
$gtas-white: rgba(255, 255, 255, 0.9);
$wco-info: #009e9288;

.profile {
  font-size: 200px;
}

.profile-container {
  border: 2px solid #e0e0e0;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 230px !important;
  height: 205px !important;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  padding: 2px;
}

.filter-container {
  z-index: 1020;
}

@media (max-width: 767px) {
  .filter-container,
  .filter {
    width: 34px !important;
  }
  .filter-fg {
    display: none !important;
  }
  .filter-toggle {
    position: fixed;
    z-index: 2000;
    overflow: auto;
    top: 0px;
    left: 0px;
    width: 34px;
    display: block;
    height: calc(100vh);
    cursor: pointer;
  }
  .filter-toggle:hover {
    background-color: $wco-info;
  }
}

.filter-bg {
  z-index: 5;
}

.sidenav-background1 {
  background: linear-gradient(#40403f, #40403fdd, #40403f22),
    url("../../images/1.jpg") center no-repeat;
  background-size: cover;
}

.sidenav-background2 {
  background: linear-gradient(#40403f, #40403fdd, #40403f22),
    url("../../images/2.jpg") bottom center no-repeat;
  background-size: cover;
}

.sidenav-background3 {
  background: linear-gradient(#40403f, #40403fdd, #40403f22),
    url("../../images/3.jpg") bottom no-repeat;
  background-size: cover;
}

.sidenav-background4 {
  background: linear-gradient(#40403f, #40403fdd, #40403f22),
    url("../../images/4.jpg") left center no-repeat;
  background-size: cover;
}

.toggle-arrow {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .filter-toggle {
    display: none;
  }
}

.filter-open {
  top: auto;
  left: 0;
  display: block;
  position: fixed;
  height: calc(100vh - 60px);
  width: 260px;
}

.arrow {
  color: $gtas-white;
  font-weight: 400;
}

.arrow-open::before {
  content: "\f061";
}

.arrow-hide::before {
  content: "\f060";
}

.main-overlay-open {
  height: calc(100vh - 80px);
  width: calc(100vw - 20px);
  position: absolute;
  top: 60px;
  z-index: 9;
}

hr {
  border-top: 1px solid rgba(230, 230, 230, 1);
}

.notopmargin {
  margin-top: 0px !important;
  height: 100%;
  overflow-y: auto;
  overflow: overlay;
}

.below-badge {
  max-height: calc(100vh - 215px);
}

.dropdown-content > .panel-content > .select-panel > ul > li > label > .item-renderer {
  display: flex;
}

.dropdown-content > .panel-content > .select-panel > ul > li > label,
.dropdown-content > .panel-content > .select-panel > label {
  box-sizing: border-box;
  cursor: pointer;
  outline: 0;
  padding: 5px 10px;
  margin-bottom: 0px;
  line-break: anywhere;
}

.filterform-container > form,
.filterform-container.form {
  padding: 20px;
  /* border-radius: 1.25rem; */
  padding-bottom: 5px;
}
