.title {
  display: flex;
  text-align: center;
  padding: 5px;
  position: relative;
  background-color: white;
  /* border-bottom: 1px solid #d0d0d0; */
  margin: 0px -20px;
  height: 48px;
}

.title-span {
  font-weight: 600;
  font-size: x-large;
  align-self: center;
  padding: 0px 20px;
  white-space: nowrap;
  /* border-left: 1px solid #d0d0d0; */
  /* border-image: linear-gradient(90deg, #d0d0d0, transparent) 1; */
}

.tab-span {
  padding: 0px 15px;
}

.action-span {
  padding: 0px 15px;
  width: 240px;
  position: fixed;
  left: 10px;
  z-index: 200;
  top: 56px;
}

.right-span > .space-between {
  display: flex;
}

.right-span > .space-between > label {
  padding-top: 3px;
}

.right-span > .space-between > select {
  width: 120px;
}

@media (min-width: 769px) {
  .full .title-span,
  .full-cards .title-span {
    margin-left: 259px;
  }
}

@media (max-width: 768px) {
  .title {
    display: inline-flex !important;
  }
}
