.title {
  /* text-shadow: aqua; */
  display: flex;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  position: relative;
  justify-content: center;
}

.title-span {
  font-weight: 600;
  font-size: x-large;
}

.left-span {
  position: absolute;
  left: 0px;
  top: 5px;
  font-size: initial;
  width: -webkit-fill-available;
}

.right-span {
  position: absolute;
  right: 0px;
  top: 0px;
}

.right-span > .space-between {
  display: flex;
}

.right-span > .space-between > label {
  padding-top: 3px;
}

.right-span > .space-between > select {
  width: 120px;
}
