/**
 * All GTAS code is Copyright 2016, The Department of Homeland Security (DHS), U.S. Customs and Border Protection (CBP).
 * 
 * Please see license.txt for details.
 */

.title {
  display: flex;
  text-align: center;
  padding: 5px;
  position: relative;
  background-color: white;
  margin: 0px -20px;
  height: 48px;
}

.title-span {
  font-weight: 600;
  font-size: x-large;
  align-self: center;
  padding: 0px 20px;
  white-space: nowrap;
}

.tab-span {
  padding: 0px 15px;
  padding-top: 9px;
}

.action-span {
  padding: 0px 15px;
  width: 240px;
  position: fixed;
  left: 10px;
  z-index: 200;
  top: 56px;
}

.right-span > .space-between {
  display: flex;
}

.right-span > .space-between > label {
  padding-top: 3px;
}

.right-span > .space-between > select {
  width: 120px;
}

@media (min-width: 768px) {
  .full .title-span,
  .full-cards .title-span {
    margin-left: 259px;
  }
}

@media (max-width: 767px) {
  .title.stacker {
    /* display: block !important;
    position: fixed;
    text-align: left;
    height: auto !important; */

    /* display: block !important;
    position: fixed;
    text-align: left;
    height: auto !important;
    width: 100%; */

    display: -webkit-box;
    position: fixed;
    text-align: left;
    height: auto !important;
    width: 100%;
  }
}
