.main {
  padding: 0px 20px;
  overflow: hidden;
  height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  position: absolute;
  top: auto;
  left: 260px;
  width: calc(100vw - 260px);
  min-width: 246px;
  background-color: white;
}

.margin-right0 {
  margin-right: 0px;
  width: calc(100vw - 280px) !important;
}

.main-noborder {
  padding: 0px 20px;
  overflow: hidden;
  height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  position: absolute;
  top: auto;
  left: 260px;
  width: calc(100vw - 280px);
  border: 0px;
}

.full {
  min-width: 375px;
  position: absolute;
  top: auto;
  overflow: hidden;
  padding: 0px 20px;
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: #f3f3f3;
}

.full-cards {
  min-width: 375px;
  position: absolute;
  top: auto;
  overflow: hidden;
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: #f3f3f3;
  padding: 0px 0px 0px 20px;
}

.unauthed {
  min-width: 375px;
  position: absolute;
  top: auto;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

/* main-inner is just to set a relative parent to contain absolutely positioned children correctly */
.main-inner {
  position: relative;
  height: 100%;
  width: 100%;
}

@media (max-width: 767px) {
  .main {
    left: 34px !important;
    height: calc(100vh - 60px);
    width: calc(100vw - 34px);
    /* overflow: auto; */
  }
  .full,
  .dash {
    height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    overflow: auto;
    /* padding: 0px !important; */
  }
  .margin-right0 {
    margin-right: 0px;
    width: calc(100vw - 74px) !important;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: unset;
  margin-left: unset;
}

.dash {
  min-width: 255px;
  padding: 10px;
  height: calc(100vh - 60px);
  overflow: auto;
}

html {
  overflow: hidden;
}
