/**
 * All GTAS code is Copyright 2016, The Department of Homeland Security (DHS), U.S. Customs and Border Protection (CBP).
 * 
 * Please see license.txt for details.
 */

.right-span > .form-group {
  padding-top: 6px;
}

.filedownload-action-buttons {
  margin-top: 5px;
}

.filedownload-action-buttons .txtlabel {
  margin-top: 5px;
  margin-right: 15px;
  min-width: 100px;
}

@media (max-width: 767px) {
  .filedownload-container {
    height: calc(100vh - 150px) !important;
    width: calc(100vw - 40px) !important;
    top: 140px !important;
    position: fixed !important;
    left: 20px !important;
  }

  .filedownload-action-buttons {
    margin-left: 20px;
  }

  .filedownload-container > .table-main {
    max-height: calc(100vh - 195px);
  }
}
