/**
 * All GTAS code is Copyright 2016, The Department of Homeland Security (DHS), U.S. Customs and Border Protection (CBP).
 * 
 * Please see license.txt for details.
 */

.dtp-vetting-lower > span > div > .react-calendar {
  /* bottom: calc(0vh + 10px); */
}

.bio-data {
  list-style: none;
  padding-left: 0.25rem !important;
  font-size: small;
  margin-bottom: 0px;
}
