.dtp-vetting-upper > span > div > .react-calendar {
  position: fixed;
  top: auto;
  line-height: 0.5rem;
  width: 350px !important;
  border-radius: 5px;
  display: block;
  max-width: unset;
}

.dtp-vetting-lower > span > div > .react-calendar {
  position: fixed;
  bottom: calc(0vh + 10px);
  line-height: 0.5rem;
  width: 350px !important;
  border-radius: 5px;
  display: block;
  max-width: unset;
}
