.segment-table {
  /* height is calculated by the parent paxdetail */
  overflow: auto;
  font-size: smaller;
  background-color: white;
  padding-left: 15px;
}

.segment-table > .table-responsive {
  overflow-x: unset;
}

.highlight {
  background-color: yellow !important;
}
