.segment-table {
  overflow: auto;
  font-size: smaller;
  background-color: white;
  padding: 10px 0px 10px 10px;
  border: 1px solid #0082c3;
  border-radius: 0.25rem;
  height: calc(100vh - 110px);
}

.segment-table > .table-responsive {
  overflow-x: unset;
}

.highlight {
  background-color: yellow !important;
}

.wrap {
  overflow-wrap: anywhere;
}

.segment-table-container {
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .segment-table-container {
    display: none;
  }
}
