// All GTAS code is Copyright 2016, The Department of Homeland Security (DHS), U.S. Customs and Border Protection (CBP).
//
// Please see license.txt for details.

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.pax-info-row {
  font-size: 15px;
  .left-label {
    color: white;
    font-weight: 700;
  }
  .right-label {
    color: rgb(255, 255, 255);
    text-align: right;
  }
}

.pax-info-link {
  background-color: white;
  padding: 3px;
  border-radius: 0.25rem;
}
