@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.pax-info-row {
  font-size: smaller;
  .left-label {
    color: white;
    font-weight: 700;
  }
  .right-label {
    color: rgb(255, 255, 255);
    text-align: start;
  }
}
