@import "../../index.scss";
// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";

// Primary colors
$hover-color: rgb(177, 172, 172);
// $gtas-white: rgba(255, 255, 255, 0.9);
// $wco-blue: #0082c3;
// $wco-gray: rgb(141, 144, 147);

.header-navbar {
  padding: 0.25rem 1rem !important;
  background-color: $wco-blue;
  border-bottom: 3px solid white;
  white-space: nowrap;
  height: 54px;
  min-width: 375px;
}
.header-navbar-brand {
  background-color: white;
  height: 40px;
  text-align: center;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 3px;
  margin-left: 20px;
  margin-right: 27px;
  a {
    img {
      height: 40px;
    }
  }
}

.header-navbar .nav-tabs {
  border-bottom: none;
}

.navbar-nav {
  margin-bottom: 1px;
}

.header-navbar .nav-tabs .active-tab {
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 0.25rem;
  color: #575756 !important;
  background-color: white !important;
}

.header-navbar .navbar-nav a.nav-link {
  color: $gtas-white;
  border: 1px solid transparent;
}

.header-navbar .navbar-nav a.nav-link:hover {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 0.25rem;
  // box-shadow: 0px 0px 1px 1px white;
}

.header-navbar .navbar-toggler {
  color: $gtas-white !important;
  border-color: $gtas-white !important;
  position: absolute;
  right: 20px;
  top: 5px;
  z-index: 100;
}

.header-navbar .navbar-toggler-icon {
  color: $gtas-white !important;
}

// @include media-breakpoint-up(md) {
@media (min-width: 769px) {
  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    align-self: flex-end;
  }

  .header-navbar {
    height: 54px;
  }
}

//media query for small devices and down(bootstrap's way)
// @include media-breakpoint-down(sm) {
@media (max-width: 768px) {
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-collapse {
    position: absolute;
    background-color: $wco-blue;
    right: 20px;
    top: 50px;
    width: 180px !important;
    padding: 5px;
    border-radius: 3px;
    padding-bottom: 10px;
  }
  .nav-link {
    padding-bottom: 5px;
  }
}

@media (max-width: 1050px) {
  .optional {
    display: none !important;
  }
}

@media (max-width: 950px) {
  .form-inline {
    display: none !important;
  }
}

.dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:focus {
  color: #16181b;
  background-color: rgba(0, 0, 0, 0.075);
}

.dropdown > .dropdown-menu {
  right: 0;
  left: auto;
}

.search-150 {
  max-width: 150px;
}

// .navbar-light .navbar-toggler-icon {
//   width: unset;
//   height: unset;
//   display: inline-block;
//   font: normal normal normal 14px/1 FontAwesome;
//   font-size: inherit;
//   text-rendering: auto;
//   -webkit-font-smoothing: antialiased;
//   background-image: unset !important;
// }

// .navbar-toggler-icon::before {
//   content: "\f0c9";
// }

.language-icon {
  margin-right: 0.5rem !important;
  transform: scale(1.4);
}

.nav-link.future {
  color: lightgray !important;
}

.ml-auto > form {
  margin-right: 10px;
}

.collapsing {
  position: absolute !important;
  height: 0;
  transition: height 0.2s ease !important;
  width: 180px !important;
}
