.password-rules {
  display: flex;
  justify-content: center;
}

.passwords-do-not-match:focus {
  border-color: rgb(224, 3, 3);
  box-shadow: 0 0 0 0.2rem rgba(252, 39, 2, 0.25);
}

.passwords-match:focus {
  border-color: rgb(5, 221, 5);
  box-shadow: 0 0 0 0.2rem rgba(23, 252, 2, 0.25);
}

.cp-modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  margin: -15px -30px 15px -30px;
}
