.change-password-container {
}

.passwords-do-not-match:focus {
  border-color: rgb(224, 3, 3);
  box-shadow: 0 0 0 0.2rem rgba(252, 39, 2, 0.25);
}

.passwords-match:focus {
  border-color: rgb(5, 221, 5);
  box-shadow: 0 0 0 0.2rem rgba(23, 252, 2, 0.25);
}

$transparent: rgba(223, 231, 247, 0.14);
