.seat {
  border-color: rgb(245, 241, 241) !important;
  background-color: green;
  margin-left: 5px;
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 0.3rem;
  min-width: 30px;
  max-width: 30px;
  padding: 0.15px 0.15px;
}

.seat:disabled {
  background-color: rgb(184, 182, 182) !important;
}

.seat:focus,
.seat:hover {
  background-color: rgb(69, 168, 69);
}

.pink {
  background-color: rgb(216, 60, 177) !important;
}

.seat-info-modal .modal-footer {
  border-top: 1px solid #dee2e6 !important;
}
