.biographic-info {
  text-align: center !important;
  border-radius: 0.25rem;
  background-color: white;
  border: 1px solid #cdcdd1;
  padding: 5px;
}

.biographic-info-row {
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  margin-right: unset;
  margin-left: unset;
}
