$wco-blue: rgb(0, 119, 200);
$gtas-white: rgba(255, 255, 255, 0.9);
.customized-card-header {
  background-color: $wco-blue !important;
  font-weight: 700;
  color: $gtas-white;
}

.card-with-table {
  max-height: 300px;
}
.card-with-table .table-responsive {
  overflow: scroll;
  max-height: 250px;
}
@media (min-width: 1500px) {
  .card-with-table {
    min-height: 200px;
  }
}
.row-count {
  float: right;
  font-style: italic;
}
