$wco-blue: #0082c3;
$gtas-white: rgba(255, 255, 255, 0.9);

.customized-card-header {
  background-color: $wco-blue !important;
  // font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
  font-size: large;
  padding: 0.1rem 1.25rem;
}

.card-with-table {
  max-height: 300px;
  border: 1px solid #0082c3;
  font-size: smaller;
}

.card-with-table .table-responsive {
  overflow: auto;
  max-height: 250px;
}
// @media (min-width: 1500px) {
//   .card-with-table {
//     min-height: 200px;
//   }
// }
.row-count {
  float: right;
  font-style: italic;
}

th {
  text-align: left !important;
}

.highlight-table-row {
  background-color: #74c0e0 !important;
}
