// All GTAS code is Copyright 2016, The Department of Homeland Security (DHS), U.S. Customs and Border Protection (CBP).
//
// Please see license.txt for details.

$transparent: rgba(133, 130, 130, 0.6);

.overlay-content {
  background-color: #575756;
  color: white !important;
  border-radius: 0.25rem;
  text-align: center;
}

.bs-popover-top {
  z-index: 12000;
}
