.events-card {
  max-width: 100px;
  line-height: normal;
}

.card-table {
  max-height: unset !important;
}

.table-main {
  height: 100%;
  padding: 0px;
  max-height: calc(100vh - 170px);
  overflow: auto;
  border: 1px solid #cfd3d6;
}

@media (min-width: 768px) {
}

@media (max-width: 420px) {
  .pag {
    display: none;
  }
}

.table-header {
  white-space: nowrap !important;
  padding: 0.3rem !important;
  vertical-align: middle !important;
}

.pagination {
  position: fixed;
  bottom: 0;
  margin: unset;
  margin-bottom: 10px;
  align-items: center !important;
}

.mr-10 {
  margin-right: 15px !important;
}

.pag-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #495057;
  text-align: center;
  white-space: nowrap;
}

.pag {
  margin: 0 0.25rem;
  border: 1px solid #eee;
  padding: 0.25rem;
  border-radius: 5px;
  transition: border-color 0.5s ease-out;
  border-color: #495057;
  min-width: unset !important;
}

.pag-input {
  height: 29px;
  width: 60px !important;
}

@media (max-width: 885px) {
  .pag-select {
    display: none !important;
  }
  .pag-goto {
    display: none !important;
  }
}
.pag-num {
  margin-left: 0.25rem;
}

@media (max-width: 500px) {
  .pag {
    display: none !important;
  }
}

@media (max-width: 410px) {
  .tagrightpag {
    display: none !important;
  }
}

.tagrightpag {
  position: fixed;
  bottom: 0px;
  z-index: 2000;
  right: 20px;
  font-size: 28px;
  line-height: 1.7;
  color: #003f4cb3;
  margin-left: 8px;
  background-color: white;
}
.table-hover tbody tr.linked:hover {
  color: rgba(0, 123, 255, 1);
  background-color: rgba(255, 225, 12, 0.24);
  border-left: 5px solid rgb(0, 123, 255);
  text-decoration: underline;
}

.wide-col {
  min-width: 170px;
}

.wide-col-2 {
  min-width: 210px;
}

.p-1 > .icon-col {
  width: 50px;
  text-align: -webkit-center;
  cursor: pointer;
}

.table-filter-form {
  display: block;
  width: 100%;
  height: calc(1.2em + 0.75rem + 1px);
  padding: 0.175rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.export-btn,
.export-btn:hover {
  color: black;
  border: 1px solid #495057;
  border-radius: 0.25rem;
}
.export-btn:hover {
  background-color: rgba(67, 74, 82, 0.24);
}
