/* .wl-modal-body {
  max-width: 500px;
  min-width: 330px !important;
} */

.wl-modal-content {
  min-width: 330px !important;
}

.wl-modal .date-picker {
  width: 100%;
  text-align: right;
}

.react-datetime-picker__inputGroup__leadingZero {
  margin-bottom: 1px;
}

.wl-modal .react-datetime-picker__wrapper {
  padding-left: 10px;
  text-align: left;
}
