.page-card-link {
  color: black;
}

.page-card-link:hover {
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap !important;
}

.page-card-link > .fa {
  border: 1px solid #0077c8;
  border-radius: 3px;
  padding: 2px;
}

.card-overlay {
  position: absolute;
  top: 30px;
  left: 95px;
  font-weight: 500;
  font-size: larger;
}

.card-link > .card-body > .card-title,
.card-link > .card-body > .card-title > .fa {
  color: #0082c3;
}

.card-body {
  padding-bottom: 0.25rem;
  height: unset !important;
}

.card-description {
  color: black;
  font-size: 14px;
  height: 48px;
}

.card-description > .card-text {
  text-align: center;
}

.card-shadow {
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
}

.card-link:hover {
  text-decoration: none;
  background-color: #e5f3ff;
}

.signup-checkbox > .form-group > div > .row > div {
  column-count: 2;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  orphans: 1;
  widows: 1;
  margin-bottom: 10px;
  width: -webkit-fill-available;
}
