@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$wco-blue: rgb(0, 119, 200);
$gtas-white: rgba(255, 255, 255, 0.9);

.summary-container {
  max-height: 70vh;
  overflow: scroll;
}

@include media-breakpoint-up(xl) {
  .summary-card-deck .card {
    max-width: 50%;
  }
}

.summary-container {
  .card-deck {
    .card {
      overflow: scroll;
      margin: 5px;
      min-width: 600px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .summary-container {
    .card-deck {
      .card {
        overflow: scroll;
        margin: 5px;
        min-width: 400px;
      }
    }
  }
}
