@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$wco-blue: rgb(0, 119, 200);
$gtas-white: rgba(255, 255, 255, 0.9);

// .summary-container {
//   height: calc(100vh - 125px);
//   overflow: scroll;
// }

.summary-container {
  .card-columns {
    column-count: 1 !important;
  }
}

@media (min-width: 1500px) {
  .summary-container {
    .card-columns {
      column-count: 2 !important;
    }
  }
}
