// All GTAS code is Copyright 2016, The Department of Homeland Security (DHS), U.S. Customs and Border Protection (CBP).
//
// Please see license.txt for details.

.seat {
  border-color: rgb(245, 241, 241) !important;
  background-color: rgb(6, 146, 81) !important;
  color: rgb(216, 211, 211);
  font-size: 0.75rem !important;
  font-weight: 700 !important;
  border-radius: 0.3rem;
  max-width: 30px;
  min-width: 30px;
  padding: 0.15px 0.15px !important;
  transform: rotate(-90deg);
  margin-bottom: 2px;
}

.seat:disabled {
  background-color: rgb(214, 211, 211) !important;
  color: black;
  border-color: rgb(170, 167, 167) !important;
}

.seat:focus,
.seat:hover {
  background-color: rgb(55, 199, 132);
}

.selected-seat {
  background-color: rgb(118, 6, 141) !important;
}

.seat-info-modal .modal-footer {
  border-top: 1px solid #dee2e6 !important;
}

.co-traveler {
  background-color: rgb(243, 93, 39) !important;
}

.has-hit {
  border: 2px solid red !important;
}

.search-result {
  color: black !important;
  border: 2px solid rgb(247, 150, 41) !important;
  background-color: rgb(248, 248, 20) !important;
}
.search-result:hover {
  background-color: rgb(163, 163, 40) !important;
}
