.toolbar-item {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
  box-shadow: 0px 1px 11px 1px rgba(15, 15, 15, 0.2);
  background-color: #c3d1df;
  color: #34495e;
  font-size: 13px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
.active-toolbar-item {
  transform: translateY(1px);
  color: #fff;
  background-color: #34495e;
  box-shadow: none;
  border: 1px solid #c3d1df;
}

.toolbar-item:hover {
  transform: translateY(1px);
  color: #c3d1df;
  background-color: #34495e;
  box-shadow: none;
  border: 1px solid #c3d1df;
}
